*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tan: #b7b3a1ff;
    --purple: #574b60ff;
    --orange: #fe4a49ff;
    --light-blue: #a3bcf9ff;
    --blue: #007090ff;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--tan);
}

/* HEADER STYLES */
 header {
    background-color: var(--purple);
    background-size: cover;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
 }

 header h1 {
     font-weight: bold;
     font-size: 40px;
     color: var(--orange);
     margin: 0;
     text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     flex-grow: 2;
 }

 header a {
     text-decoration: none;
     color: var(--orange);
     text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     font-weight: ;
 }

 header nav ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: flex-end;
     list-style: none;
     padding-top: 20px;
 }

 header nav ul li a {
     padding: 10px 15px;
     font-size: 1.5vw;
 }

 header nav ul li a:hover {
     background: var(--light-blue);
     color: var(--purple);
     border-radius: 10px;
     text-shadow: none;
 }

 /* HERO STYLES */

 .hero {
     background-image: url("../images/bg.jpg");
     background-size: cover;
     display: flex;
     justify-content: flex-end;
     flex-wrap: wrap;
     align-items: flex-end;
 }

 .hero h2 {
     padding: 150px 25px 20px 0;
     font-size: 30px;
     font-weight: lighter;
     color: var(--orange);
     text-shadow: rgba(0, 0, 0, 0.5);
     font-style: italic;
 }

 /* FOOTER SECTION */

 footer {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     background: var(--purple);
     width: 100%;
     padding: 30px 30px;
 }

 footer h2 {
     font-size: 18px;
     text-decoration: none;
     font-weight: lighter;
     color: var(--orange)
 }

 footer a {
    text-decoration: none;
    color: var(--orange);
 }