*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tan: #b7b3a1ff;
    --purple: #574b60ff;
    --orange: #fe4a49ff;
    --light-blue: #a3bcf9ff;
    --blue: #007090ff;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--tan);
}

/* HEADER STYLES */
 header {
    background-color: var(--purple);
    background-size: cover;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
 }

 header h1 {
     font-weight: bold;
     font-size: 40px;
     color: var(--orange);
     margin: 0;
     text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     flex-grow: 2;
 }

 header a {
     text-decoration: none;
     color: var(--orange);
 }

 header nav ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: flex-end;
     list-style: none;
     padding-top: 20px;
 }

 header nav ul li a {
     padding: 10px 15px;
     font-weight: lighter;
     font-size: 1.5vw;
     text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

 }

 header nav ul li a:hover {
     background: var(--light-blue);
     color: var(--purple);
     border-radius: 10px;
     text-shadow: none;
 }

 /* HERO STYLES */

 .hero {
     background-image: url("../images/bg.jpg");
     background-size: cover;
     margin: 0;
     padding: 100 auto;
 }